In [1]:
from quantlib.kline_calculate import KlineCalculate

In [2]:
kl15 = KlineCalculate("btcusdt", '15min')

15min history kline has already read

In [3]:
kl1 = KlineCalculate("btcusdt", '1min')

1min history kline has already read

In [7]:
kl1.update_kline_time()

time update wrong!!! 60but now is120

In [6]:
kl1.ma5_cal.info

{'name': 'MA',
 'group': 'Overlap Studies',
 'display_name': 'Moving average',
 'function_flags': ['Output scale same as input'],
 'input_names': OrderedDict([('price', 'close')]),
 'parameters': OrderedDict([('timeperiod', 20), ('matype', 0)]),
 'output_flags': OrderedDict([('real', ['Line'])]),
 'output_names': ['real']}

In [13]:
q2 = kl1.kline_time

In [7]:
ech = kl15.split_data_to_echarts()

In [6]:
kl15.update_kline_time()

15min k线已在 1614234600 更新

In [10]:
import pandas as pd

In [4]:
from talib import abstract
zzz = abstract.MACD
#zzz.info

In [6]:
q=kl15.kline_list

In [5]:
zzz.info

{'name': 'MACD',
 'group': 'Momentum Indicators',
 'display_name': 'Moving Average Convergence/Divergence',
 'function_flags': None,
 'input_names': OrderedDict([('price', 'close')]),
 'parameters': OrderedDict([('fastperiod', 12),
              ('slowperiod', 26),
              ('signalperiod', 9)]),
 'output_flags': OrderedDict([('macd', ['Line']),
              ('macdsignal', ['Dashed Line']),
              ('macdhist', ['Histogram'])]),
 'output_names': ['macd', 'macdsignal', 'macdhist']}

In [7]:
#output = zzz(inp, timeperiod=5)
out = zzz(q)

In [8]:
out

          macd  macdsignal   macdhist
0          NaN         NaN        NaN
1          NaN         NaN        NaN
2          NaN         NaN        NaN
3          NaN         NaN        NaN
4          NaN         NaN        NaN
..         ...         ...        ...
994  29.200690   53.950711 -24.750021
995  24.428249   48.046219 -23.617970
996   9.106271   40.258229 -31.151958
997 -43.751077   23.456368 -67.207445
998 -86.261979    1.512699 -87.774677

[999 rows x 3 columns]

In [25]:
import datetime
tty = 1614233700
ca = datetime.datetime.fromtimestamp(tty)
ca.strftime('%m-%d %H:%M')

'02-25 14:15'

In [21]:
ca

datetime.datetime(2021, 2, 25, 14, 15)

In [24]:
ca.strftime('%m-%d %H:%M')

'02-25 14:15'

In [1]:
from huobi.client.market import *
from quantlib.kline_calculate import KlineCalculate
market_client = MarketClient(url = "https://api.huobi.be")
from lowfreq import lowf15,lowf60

In [2]:
kl1 = lowf15("btcusdt", '1min')

1min history kline has already read
zhelimei?

In [3]:
kl1.update_kline_time()

time update wrong!!! 60but now is0

In [3]:
kl1.ma5_data

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
          ...
994    47248.7360
995    47224.8490
996    47200.5440
997    47170.6430
998    47150.1765
Length: 999, dtype: float64

In [5]:
kl1.ma5_cal.parameters = {'timeperiod': 5}

In [7]:
kl1.ma20_cal.parameters = {'timeperiod': 20}

In [8]:
kl1.ma5_cal.info

{'name': 'MA',
 'group': 'Overlap Studies',
 'display_name': 'Moving average',
 'function_flags': ['Output scale same as input'],
 'input_names': OrderedDict([('price', 'close')]),
 'parameters': OrderedDict([('timeperiod', 20), ('matype', 0)]),
 'output_flags': OrderedDict([('real', ['Line'])]),
 'output_names': ['real']}

In [4]:
aa = kl15.macd_data

In [6]:
mee = abstract.MA

In [15]:
kl15.macd_cal.run()

           macd  macdsignal    macdhist
0           NaN         NaN         NaN
1           NaN         NaN         NaN
2           NaN         NaN         NaN
3           NaN         NaN         NaN
4           NaN         NaN         NaN
..          ...         ...         ...
994   28.015671  131.763709 -103.748039
995    1.489947  105.708957 -104.219010
996  -66.744964   71.218173 -137.963137
997 -105.441547   35.886229 -141.327776
998 -143.571217   -0.005261 -143.565957

[999 rows x 3 columns]

In [14]:
mee(kl15.kline_list)

0            NaN
1            NaN
2            NaN
3            NaN
4      48983.710
         ...
994    46919.556
995    46965.722
996    47139.302
997    47396.808
998    47674.238
Length: 999, dtype: float64