In [2]:
tai = {}

In [6]:
a=[1,2,3,4,5]
b = [4,7,89,3,3,5]

In [7]:
tai['dfd']=a
tai['dff']=b

In [1]:
from quantlib.kline_calculate import KlineCalculate

In [2]:
kl15 = KlineCalculate("btcusdt", '15min')

15min 历史k线已经首次写入

In [3]:
kl1 = KlineCalculate("btcusdt", '1min')

1min 历史k线已经首次写入

In [16]:
q = kl1.kline_list

In [13]:
q2 = kl1.kline_time

In [7]:
ech = kl15.split_data_to_echarts()

In [6]:
kl15.update_kline_time()

15min k线已在 1614234600 更新

In [10]:
import pandas as pd

In [5]:
from talib import abstract
zzz = abstract.MACD
#zzz.info

In [9]:
zzz.info

{'name': 'MACD',
 'group': 'Momentum Indicators',
 'display_name': 'Moving Average Convergence/Divergence',
 'function_flags': None,
 'input_names': OrderedDict([('price', 'close')]),
 'parameters': OrderedDict([('fastperiod', 12),
              ('slowperiod', 26),
              ('signalperiod', 9)]),
 'output_flags': OrderedDict([('macd', ['Line']),
              ('macdsignal', ['Dashed Line']),
              ('macdhist', ['Histogram'])]),
 'output_names': ['macd', 'macdsignal', 'macdhist']}

In [6]:
#output = zzz(inp, timeperiod=5)
out = zzz(q)

In [7]:
out

           macd  macdsignal    macdhist
0           NaN         NaN         NaN
1           NaN         NaN         NaN
2           NaN         NaN         NaN
3           NaN         NaN         NaN
4           NaN         NaN         NaN
..          ...         ...         ...
994  111.231471  198.005948  -86.774477
995   92.099954  176.824749  -84.724796
996   63.400674  154.139934  -90.739260
997   34.888924  130.289732  -95.400808
998  -22.069160   99.817954 -121.887113

[999 rows x 3 columns]

In [25]:
import datetime
tty = 1614233700
ca = datetime.datetime.fromtimestamp(tty)
ca.strftime('%m-%d %H:%M')

'02-25 14:15'

In [21]:
ca

datetime.datetime(2021, 2, 25, 14, 15)

In [24]:
ca.strftime('%m-%d %H:%M')

'02-25 14:15'

In [1]:
from huobi.client.market import *
from quantlib.kline_calculate import KlineCalculate
from talib import abstract
market_client = MarketClient(url = "https://api.huobi.be")

# list_obj = market_client.get_candlestick("btcusdt", CandlestickInterval.MIN15, 1)

class lowf15(KlineCalculate):
    '重写的对象为15分钟k线数据，包括macd，ma5，ma20'
    def tai_cal(self):
        self.tai = {}
        self.macd_cal = abstract.MACD
        self.macddata = self.macd(self.kline_list)
        self.ma5_cal = abstract.MA
        self.ma20_cal = abstract.MA

In [3]:
kl15 = lowf15("btcusdt", '15min')

15min 历史k线已经首次写入

In [5]:
aa = kl15.macddata

In [6]:
mee = abstract.MA

In [8]:
mee.info

{'name': 'MA',
 'group': 'Overlap Studies',
 'display_name': 'Moving average',
 'function_flags': ['Output scale same as input'],
 'input_names': OrderedDict([('price', 'close')]),
 'parameters': OrderedDict([('timeperiod', 30), ('matype', 0)]),
 'output_flags': OrderedDict([('real', ['Line'])]),
 'output_names': ['real']}

In [14]:
mee(kl15.kline_list)

0            NaN
1            NaN
2            NaN
3            NaN
4      48983.710
         ...
994    46919.556
995    46965.722
996    47139.302
997    47396.808
998    47674.238
Length: 999, dtype: float64

In [11]:
mee.parameters = {'timeperiod': 5}

In [12]:
mee.info

{'name': 'MA',
 'group': 'Overlap Studies',
 'display_name': 'Moving average',
 'function_flags': ['Output scale same as input'],
 'input_names': OrderedDict([('price', 'close')]),
 'parameters': OrderedDict([('timeperiod', 5), ('matype', 0)]),
 'output_flags': OrderedDict([('real', ['Line'])]),
 'output_names': ['real']}